In [1]:
a = {}
type(a)

dict

In [ ]:
# dict = {<key>:<value>,<key>:<value>,....}

In [3]:
a = {"a":"Apple","b":"Ball","c":"Cat"}
a["b"]

'Ball'

In [4]:
a = {"a":"Apple","b":"Ball","c":"Cat","A":"Apple"}
a

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple'}

In [6]:
x = {"a":"Apple","b":"Ball","c":"Cat","a":"Ant"}
x

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [10]:
x = {}
x["a"] = "Apple"
x["b"] = "Ball"
x["c"] = "Cat"
x

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [11]:
for i in x:
    print(i)

a
b
c

In [12]:
for i in x.values():
    print(i)

Apple
Ball
Cat

In [13]:
for i in x.items():
    print(i)

('a', 'Apple')
('b', 'Ball')
('c', 'Cat')

In [14]:
x = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
y = {'d':'dog'}
x+y

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [15]:
x = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
x*2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [16]:
info = {}
n = int(input("Enter value of n = "))
for i in range(n):
    name = input("Enter name=")
    phone = input("Enter phone=")
    info[name] = phone
print(info)

Enter value of n = 2
Enter name=Ram
Enter phone=9856776876
Enter name=Shyam
Enter phone=9867556545
{'Ram': '9856776876', 'Shyam': '9867556545'}

In [17]:
x = {'Ram': '9856776876', 'Shyam': '9867556545'}
x

{'Ram': '9856776876', 'Shyam': '9867556545'}

In [18]:
x ={1: 9856776876, 2: 9867556545}
x

{1: 9856776876, 2: 9867556545}

In [20]:
x ={[1]: 9856776876, [2]: 9867556545}
x

TypeError: unhashable type: 'list'

In [22]:
x ={(1,): 9856776876, (2,): 9867556545}
x

{(1,): 9856776876, (2,): 9867556545}

In [23]:
x ={{1:1}: 9856776876, {2:2}: 9867556545}
x

TypeError: unhashable type: 'dict'

In [24]:
# list inside dict
info = {"Ram":[9867665454,987767690],"Shyam":[4433565,4412334]}
info

{'Ram': [9867665454, 987767690], 'Shyam': [4433565, 4412334]}

In [25]:
info['Ram']

[9867665454, 987767690]

In [27]:
for i in info.items():
    print(i)

('Ram', [9867665454, 987767690])
('Shyam', [4433565, 4412334])

In [29]:
info = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone1 = input("Enter phone1 = ")
    phone2 = input("Enter phone2 = ")
    info[name] = [phone1,phone2]
print(info)

Enter n = 2
Enter name = Ra
Enter phone1 = 9866765654
Enter phone2 = 9867665434
Enter name = Shyam
Enter phone1 = 6754334543
Enter phone2 = 2343423423
{'Ra': ['9866765654', '9867665434'], 'Shyam': ['6754334543', '2343423423']}

In [30]:
info = {}
n = int(input("Enter how many values = "))
for i in range(n):
    name = input("Enter name = ")
    physics = int(input("Enter physics marks= "))
    chemistry = int(input("Enter chemistry marks= "))
    math = int(input("Enter math marks= "))
    english = int(input("Enter english marks= "))
    nepali = int(input("Enter nepali marks= "))
    
    info[name] = [physics,chemistry,math,english,nepali]
   
    
print(info)

Enter how many values = 2
Enter name = Ram
Enter physics marks= 89
Enter chemistry marks= 78
Enter math marks= 67
Enter english marks= 90
Enter nepali marks= 78
Enter name = Shyam
Enter physics marks= 78
Enter chemistry marks= 90
Enter math marks= 56
Enter english marks= 78
Enter nepali marks= 45
{'Ram': [89, 78, 67, 90, 78], 'Shyam': [78, 90, 56, 78, 45]}

In [12]:
x = {'Ram': [89, 78, 67, 90, 78], 'Shyam': [78, 90, 56, 78, 45]}
x['Ram'][4] = 87
print(x)

{'Ram': [89, 78, 67, 90, 87], 'Shyam': [78, 90, 56, 78, 45]}

In [2]:
na = []
ph = []
ch = []
mt = []
eg = []
np = []

n = int(input("Enter how many values = "))
for i in range(n):
    name = input("Enter name = ")
    physics = int(input("Enter physics marks= "))
    chemistry = int(input("Enter chemistry marks= "))
    math = int(input("Enter math marks= "))
    english = int(input("Enter english marks= "))
    nepali = int(input("Enter nepali marks= "))
    
    na.append(name)
    ph.append(physics)
    ch.append(chemistry)
    mt.append(math)
    eg.append(english)
    np.append(nepali)
    
    
info = {"Name":na,"Physics":ph,"Chemistry":ch,"Math":mt,"English":eg,"Nepali":np}
    
print(info)

Enter how many values = 2
Enter name = Ram
Enter physics marks= 79
Enter chemistry marks= 87
Enter math marks= 67
Enter english marks= 90
Enter nepali marks= 78
Enter name = Shyam
Enter physics marks= 78
Enter chemistry marks= 90
Enter math marks= 67
Enter english marks= 89
Enter nepali marks= 78
{'Name': ['Ram', 'Shyam'], 'Physics': [79, 78], 'Chemistry': [87, 90], 'Math': [67, 67], 'English': [90, 89], 'Nepali': [78, 78]}

In [ ]:
x = {'Name': ['Ram', 'Shyam'], 'Physics': [79, 78], 'Chemistry': [87, 90], 'Math': [67, 67], 'English': [90, 89], 'Nepali': [78, 78]}
x

######

In [3]:
# tuple inside dict
info = {}
n = int(input("Enter how many values = "))
for i in range(n):
    name = input("Enter name = ")
    physics = int(input("Enter physics marks= "))
    chemistry = int(input("Enter chemistry marks= "))
    math = int(input("Enter math marks= "))
    english = int(input("Enter english marks= "))
    nepali = int(input("Enter nepali marks= "))
    
    info[name] = (physics,chemistry,math,english,nepali)
   
    
print(info)

Enter how many values = 2
Enter name = Ram
Enter physics marks= 89
Enter chemistry marks= 67
Enter math marks= 65
Enter english marks= 89
Enter nepali marks= 56
Enter name = 89
Enter physics marks= 23
Enter chemistry marks= 56
Enter math marks= 6
Enter english marks= 56
Enter nepali marks= 57
{'Ram': (89, 67, 65, 89, 56), '89': (23, 56, 6, 56, 57)}

In [4]:
# # dict inside dict
# a = {<key>:{<key>:<value},...}

In [5]:
info = {}
n = int(input("Enter value of n = "))
for i in range(n):
    name = input("Enter name=")
    home_phone = int(input("Enter home phone = "))
    office_phone = input("Enter office_phone= ")
    info[name] = {"Home Phone": home_phone,"Office Phone":office_phone}
    
print(info)

Enter value of n = 2
Enter name=Ram
Enter home phone = 4434332
Enter office_phone= 9877654345
Enter name=Shyam
Enter home phone = 4490776
Enter office_phone= 9856443564
{'Ram': {'Home Phone': 4434332, 'Office Phone': '9877654345'}, 'Shyam': {'Home Phone': 4490776, 'Office Phone': '9856443564'}}

In [7]:
for i in info.items():
    print(i)

('Ram', {'Home Phone': 4434332, 'Office Phone': '9877654345'})
('Shyam', {'Home Phone': 4490776, 'Office Phone': '9856443564'})

In [10]:
info['Ram']['Office Phone'] = 98000000
print(info)

{'Ram': {'Home Phone': 4434332, 'Office Phone': 98000000}, 'Shyam': {'Home Phone': 4490776, 'Office Phone': '9856443564'}}

In [11]:
del info['Ram']['Office Phone']
print(info)

{'Ram': {'Home Phone': 4434332}, 'Shyam': {'Home Phone': 4490776, 'Office Phone': '9856443564'}}

In [1]:
# # dicts indide dicts
# a = {<key>:{<key>:<value>,<key>:<value>},.....}

In [2]:
a = {1:{1:'a',2:'b'},2:{3:'c',4:'d'}}
a

{1: {1: 'a', 2: 'b'}, 2: {3: 'c', 4: 'd'}}

In [3]:
info = {"Ram":{"landline":4457778,"Mobile":9867665},'Shyam':{'landline':4456554,'Mobile':986766545}}
info

{'Ram': {'landline': 4457778, 'Mobile': 9867665},
 'Shyam': {'landline': 4456554, 'Mobile': 986766545}}

In [5]:
info['Ram']['landline']

4457778

In [6]:
info['Hari'] = {"landline":4478776,"Mobile":98678776}
info

{'Ram': {'landline': 4457778, 'Mobile': 9867665},
 'Shyam': {'landline': 4456554, 'Mobile': 986766545},
 'Hari': {'landline': 4478776, 'Mobile': 98678776}}

In [7]:
info['Hari'] = {"landline":4400000,"Mobile":9867877600}
info

{'Ram': {'landline': 4457778, 'Mobile': 9867665},
 'Shyam': {'landline': 4456554, 'Mobile': 986766545},
 'Hari': {'landline': 4400000, 'Mobile': 9867877600}}

In [8]:
info['Hari']['landline'] = 20000000
info

{'Ram': {'landline': 4457778, 'Mobile': 9867665},
 'Shyam': {'landline': 4456554, 'Mobile': 986766545},
 'Hari': {'landline': 20000000, 'Mobile': 9867877600}}

In [9]:
info['Hari']['landline1'] = 4456776
info

{'Ram': {'landline': 4457778, 'Mobile': 9867665},
 'Shyam': {'landline': 4456554, 'Mobile': 986766545},
 'Hari': {'landline': 20000000, 'Mobile': 9867877600, 'landline1': 4456776}}

In [10]:
infos = {}
n = int(input("Enter value of n ="))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    phone = input("Enter phone = ")
    infos[phone] = {'Name':name,'Age':age,'Address':add}
print(infos)

Enter value of n =2
Enter name = Ram
Enter age = 89
Enter address = Patan
Enter phone = 9867665
Enter name = Shyam
Enter age = 78
Enter address = Kathmandu
Enter phone = 9856554
{'9867665': {'Name': 'Ram', 'Age': 89, 'Address': 'Patan'}, '9856554': {'Name': 'Shyam', 'Age': 78, 'Address': 'Kathmandu'}}

In [14]:
info = {'9867665': {'Name': 'Ram', 'Age': 89, 'Address': 'Patan'}, 
        '9856554': {'Name': 'Shyam', 'Age': 78, 'Address': 'Kathmandu'}}
n = len(info)
for i in range(n):
    country = input("Enter country = ")
    phone = input("Enter phone = ")
    
    info[phone]['Country'] = country
print(info)

Enter country = USA
Enter phone = 9867665
Enter country = Nepal
Enter phone = 9856554
{'9867665': {'Name': 'Ram', 'Age': 89, 'Address': 'Patan', 'Country': 'USA'}, '9856554': {'Name': 'Shyam', 'Age': 78, 'Address': 'Kathmandu', 'Country': 'Nepal'}}

In [1]:
info = {1:{'Name': 'Ram', 'Age': 89, 'Address': 'Patan','Phone':9856554}, 
        2:{'Name': 'Shyam', 'Age': 78, 'Address': 'Kathmandu','Phone':9867554543}}
n = len(info)
for i in range(1,n+1):
    country = input("Enter country = ")
    info[i]['Country'] =country
info

Enter country = USA
Enter country = NEpal

{1: {'Name': 'Ram',
  'Age': 89,
  'Address': 'Patan',
  'Phone': 9856554,
  'Country': 'USA'},
 2: {'Name': 'Shyam',
  'Age': 78,
  'Address': 'Kathmandu',
  'Phone': 9867554543,
  'Country': 'NEpal'}}

In [2]:
a = {'games':{'Cricket','Football'},'books':{'Science','math'}}
a

{'games': {'Cricket', 'Football'}, 'books': {'Science', 'math'}}

In [3]:
x = [int(x) for x in input("Enter multiple value: ").split()] 
print("Number of list is: ", x)

Enter multiple value: 1 2 3 4 5 6 7 8 9 10
Number of list is:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
x = [x for x in input("Enter multiple value: ").split()] 
print("Number of list is: ", x)

Enter multiple value: Apple Ball Cat Dog
Number of list is:  ['Apple', 'Ball', 'Cat', 'Dog']

In [5]:
x = [x for x in input("Enter multiple value: ").split('.')] 
print("Number of list is: ", x)

Enter multiple value: Kathmandu Nepal . Ram Prasad
Number of list is:  ['Kathmandu Nepal ', ' Ram Prasad']

In [6]:
x = {x for x in input("Enter multiple value: ").split('.')} 
print("Number of list is: ", x)

Enter multiple value: Appe.Ball.Cat.Apple
Number of list is:  {'Cat', 'Appe', 'Ball', 'Apple'}

In [ ]:
a = {'Cat', 'Appe', 'Ball', 'Apple'}
b = {'c':'Cat', 'a':'Appe', 'b':'Ball', 'A':'Apple'}

In [ ]:
# Comper dicts
# billing system

In [13]:
string = "ABccgfgfSDG"
a = "APPLe"

a.isupper()

False

In [12]:
upper = []
string="ABccgfgfSDG"
a = list(string)
for i in a:
    if i.isupper() == True:
        upper.append(i)

print(upper)

['A', 'B', 'S', 'D', 'G']

In [14]:
upper = []
lower = []
string="ABccgfgfSDG"
a = list(string)
for i in a:
    if i.isupper() == True:
        upper.append(i)
    else:
        lower.append(i)
print(upper)
print(lower)
print("Total no of uppercase alphabet is =",len(upper))
print("Total no of lowercase alphabet is =",len(lower))

['A', 'B', 'S', 'D', 'G']
['c', 'c', 'g', 'f', 'g', 'f']
Total no of uppercase alphabet is = 5
Total no of lowercase alphabet is = 6