In [1]:
# z = open(<file_name>,<mode>)
# z.close()

In [2]:
z = open('class630am.txt','x')

In [1]:
try:
    z = open('class630am.txt','x')
    z.close()
except:
    print("The file is already there.")

The file is already there.

In [2]:
z = open('class630am.txt','r')
data = z.read()
print(type(data))
print(data)
z.close()

<class 'str'>
1.Hello World
2.Hello World
3.Hello World
4.Hello World
5.Hello World
6.Hello World
8.Hello World
9.Hello World

In [3]:
z = open('class630am.txt','r')
data = z.read(50)
print(type(data))
print(data)
z.close()

<class 'str'>
1.Hello World
2.Hello World
3.Hello World
4.Hello

In [4]:
z = open('class630am.txt','r')
z.readline()
z.readline()
print(z.readline())
z.close()

3.Hello World

In [5]:
z = open('class630am.txt','r')
n = int(input("Enter n = "))
line = int(input("Enter line no = "))
for i in range(1,n+1):
    if i == line:
        print(z.readline())
    z.readline()
z.close()

Enter n = 2
Enter line no = 1
1.Hello World

In [31]:
z = open('class630am_data.txt','a')
n = int(input("Enter n ="))
infos = ""
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age ="))
    add = input("Enter address = ")
    info = f"{name} {age} {add}\n"
    infos = infos+info
z.write(infos)
z.close()

Enter n =2
Enter name = Ram
Enter age =78
Enter address = Patan
Enter name = Shyam
Enter age =67
Enter address = Kathmandu

In [33]:
z = open('class630am_data.txt','r')
n = int(input("Enter n = "))
line = int(input("Enter line no = "))
for i in range(1,n+1):
    if i == line:
        print(z.readline())
    z.readline()
z.close()

Enter n = 2
Enter line no = 1
1 Ram 78 Patan

In [6]:
z = open('class630am_data.txt','r')
data = z.read()
print(data)

# z.write(infos)
z.close()

1  78 Patan
2 Shyam 67 Kathmandu

In [7]:
print(data)

1  78 Patan
2 Shyam 67 Kathmandu

In [8]:
edit = data.replace('Hari','')
print(edit)

1  78 Patan
2 Shyam 67 Kathmandu

In [9]:
z = open('class630am_data.txt','w')
z.write(edit)
z.close()

In [10]:
z = open('class630am_data.txt','w')
n = int(input("Enter n ="))
infos = ""
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age ="))
    add = input("Enter address = ")
    info = f"{name} {age} {add}\n"
    infos = infos+info
z.write(infos)
z.close()

Enter n =3
Enter name = Ram
Enter age =78
Enter address = Kathmandu
Enter name = Shyam
Enter age =45
Enter address = Bara
Enter name = Hari
Enter age =56
Enter address = Patan

In [11]:
z = open('class630am_data.txt','r')
data = z.read()
print(data)
z.close()

Ram 78 Kathmandu
Shyam 45 Bara
Hari 56 Patan

In [12]:
edit = data.replace('Ram 78','Ram Prasad 78')
print(edit)

Ram Prasad 78 Kathmandu
Shyam 45 Bara
Hari 56 Patan

In [13]:
z = open('class630am_data.txt','w')
z.write(edit)
z.close()

In [14]:
# Search
z = open('class630am_data.txt','r')
data = z.read()
print(data)
z.close()


search = input("Enter value for search = ")

if search in data:
    print("Yes",data.count(search))
else:
    print("No")

Ram Prasad 78 Kathmandu
Shyam 45 Bara
Hari 56 Patan

Enter value for search = Hari
Yes 1

In [15]:
info = ""
n = int(input("Enter how many values = "))
for i in range(n):
    name = input("Enter name = ")
    physics = int(input("Enter physics marks= "))
    chemistry = int(input("Enter chemistry marks= "))
    math = int(input("Enter math marks= "))
    english = int(input("Enter english marks= "))
    nepali = int(input("Enter nepali marks= "))
    
    marks = f"{name} {physics} {chemistry} {math} {english} {nepali}\n"
    info = info+marks
    
    print(info)
    z = open(f'class630am_result{i}.txt','w')
    z.write(info)
    z.close()

Enter how many values = 3
Enter name = Ram
Enter physics marks= 89
Enter chemistry marks= 67
Enter math marks= 78
Enter english marks= 56
Enter nepali marks= 90
Enter name = Hari
Enter physics marks= 67
Enter chemistry marks= 90
Enter math marks= 78
Enter english marks= 87
Enter nepali marks= 67
Enter name = Nabin
Enter physics marks= 67
Enter chemistry marks= 90
Enter math marks= 45
Enter english marks= 78
Enter nepali marks= 35
Ram 89 67 78 56 90
Hari 67 90 78 87 67
Nabin 67 90 45 78 35

In [18]:
for i in range(n):
    z = open(f'class630am_result{i}.txt','x')
    z.write(info)
    z.close()

In [19]:
# Search
z = open('class630am_data.txt','r')
data = z.read().lower()
print(data)
z.close()


search = input("Enter value for search = ").lower()

if search in data:
    print("Yes",data.count(search))
else:
    print("No")

ram prasad 78 kathmandu
shyam 45 bara
hari 56 patan

Enter value for search = RaM
Yes 1

In [ ]:
info = ""
n = int(input("Enter how many values = "))
for i in range(n):
    name = input("Enter name = ")
    physics = int(input("Enter physics marks= "))
    chemistry = int(input("Enter chemistry marks= "))
    math = int(input("Enter math marks= "))
    english = int(input("Enter english marks= "))
    nepali = int(input("Enter nepali marks= "))
    
    marks = f"{name} {physics} {chemistry} {math} {english} {nepali}\n"
    info = info+marks
    
    print(info)
    z = open(f'class630am_result{i}.txt','w')
    z.write(info)
    z.close()

In [21]:
data = "Ram 89 67 78 56 90\nHari 67 90 78 87 67\nNabin 67 90 45 78 35"
print(data)

Ram 89 67 78 56 90
Hari 67 90 78 87 67
Nabin 67 90 45 78 35

In [26]:
data = data.split("\n")

In [27]:
data

['Ram 89 67 78 56 90', 'Hari 67 90 78 87 67', 'Nabin 67 90 45 78 35']

In [28]:
data[0]

'Ram 89 67 78 56 90'

In [29]:
# File management

In [30]:
import os
try:
    os.remove('class630am_data.txt')
except:
    print("There is no file.")

In [32]:
import os
try:
    for i in range(3):
        os.remove(f'class630am_result{i}.txt')
except:
    print("There is no file.")

In [33]:
import os
if os.path.exists('class6pm1.txt'):
    os.remove('class6pm1.txt')
    print("File is removed.")
    
else:
    print("There is no file")

File is removed.

In [34]:
import shutil as s
src = "class6pm.txt"
dst = "Untitled Folder 1"
s.copy(src,dst)

'Untitled Folder 1\\class6pm.txt'

In [37]:
import shutil as s
src = "Untitled Folder 1"
dst = "Untitled Folder 3"
s.copytree(src,dst)

'Untitled Folder 3'

In [38]:
import shutil as s
src = "Untitled Folder 1"
dst = "Untitled Folder 3/new"
s.copytree(src,dst)

'Untitled Folder 3/new'

In [42]:
import shutil as s
src = "Untitled Folder 1"
dst = "Untitled Folder 6/"
s.move(src,dst)

'Untitled Folder 6/'

In [43]:
import os
os.rename('Untitled Folde1','Folde1')