In [7]:
a = 10
b = 5.5
c = "Hello world"

print(a)
print(a,b,c)


print(type(a))
print(type(b))
print(type(c))

10
10 5.5 Hello world
<class 'int'>
<class 'float'>
<class 'str'>

In [10]:
# * / + - % ** //

In [11]:
a = 20
b = 30
a+b

50

In [13]:
a = 5
b = 2
a%b

1

In [18]:
a = 5
b = 2
a**b

25

In [19]:
a = 5
b = 2
a//b

2

In [17]:
a = 10
b = 8

print(a)
b

10

8

In [24]:
a = int(input())
b = int(input())
c = a+b
print(c)

10
20
30

In [25]:
a = "Apple"
b = "Ball"
a+b

'AppleBall'

In [28]:
a = "Hello world\n"
print(a*4)

Hello world
Hello world
Hello world
Hello world

In [30]:
a = int(input("Enter value of a = "))
b = int(input("Enter value of b = "))
print(a+b)

Enter value of a = 10
Enter value of b = 30
40

In [32]:
p = int(input("Enter p= "))
t = float(input("Enter t = "))
r = float(input("Enter r = "))

i = p*t*r/100
print("The value of i is = ",i)

Enter p= 10000
Enter t = 2
Enter r = 3.5
The value of i is =  700.0

In [41]:
a = "Hello World"
a[0]

'H'

In [46]:
a = "Hello World"
a[0:10]

'Hello Worl'

In [48]:
a = "Hello World"
a[0:10:2]

'HloWr'

In [51]:
name = "Ram"
x = "Hello I am " + name
print(x)

Hello I am Ram

In [54]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")
info = "Hello my name is " + name +" I am " + str(age) + " I am from " + add 
print(info)

Enter name = Ram
Enter age = 56
Enter add = Patan
Hello my name is Ram I am 56 I am from Patan