In [1]:
a = [[],[],[],[]]
print(a)
print(type(a))

[[], [], [], []]
<class 'list'>

In [2]:
len(a)

4

In [3]:
a = [[1,2,3],[4,5,6],[7,8,9]]
len(a)

3

In [4]:
a[0]

[1, 2, 3]

In [5]:
a[0][0]

1

In [7]:
a = [[1,2,3],[4,5,6],[7,8,9]]
b = [10,11,12]
a+[b]

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [8]:
a = [[1,2,3],[4,5,6],[7,8,9]]
b = [10,11,12]
a.append(b)
a

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [9]:
a = []
b = [1,2,3]
a+[b]

[[1, 2, 3]]

In [10]:
# making list inside list
info = list()
n = int(input("Enter how many values = "))
for i in range(n):
    name = input("Enter name = ")
    physics = int(input("Enter physics marks= "))
    chemistry = int(input("Enter chemistry marks= "))
    math = int(input("Enter math marks= "))
    english = int(input("Enter english marks= "))
    nepali = int(input("Enter nepali marks= "))
    
    marks = [name,physics,chemistry,math,english,nepali]
    info = info+[marks]
    
print(info)

Enter how many values = 2
Enter name = RAm
Enter physics marks= 78
Enter chemistry marks= 89
Enter math marks= 78
Enter english marks= 90
Enter nepali marks= 78
Enter name = Shyam
Enter physics marks= 89
Enter chemistry marks= 78
Enter math marks= 90
Enter english marks= 78
Enter nepali marks= 89
[['RAm', 78, 89, 78, 90, 78], ['Shyam', 89, 78, 90, 78, 89]]

In [13]:
a = [[1,'RAm', 78, 89, 78, 90, 78], 
     [2,'Shyam', 89, 78, 90, 78, 89]]
x = int(input("Enter roll no ="))
print(a[x-1])

Enter roll no =2
[2, 'Shyam', 89, 78, 90, 78, 89]

In [16]:
a[0][1] = 'Ram'
print(a)

[[1, 'Ram', 78, 89, 78, 90, 78], [2, 'Shyam', 89, 78, 90, 78, 89]]

In [18]:
a = a+[[3,'Hari',89,90,78,98,67]]
a

[[1, 'Ram', 78, 89, 78, 90, 78],
 [2, 'Shyam', 89, 78, 90, 78, 89],
 [3, 'Hari', 89, 90, 78, 98, 67]]

In [19]:
a.append([4,'Hari Potter',89,90,78,98,67])
a

[[1, 'Ram', 78, 89, 78, 90, 78],
 [2, 'Shyam', 89, 78, 90, 78, 89],
 [3, 'Hari', 89, 90, 78, 98, 67],
 [4, 'Hari Potter', 89, 90, 78, 98, 67]]

In [20]:
del a[3]
print(a)

[[1, 'Ram', 78, 89, 78, 90, 78], [2, 'Shyam', 89, 78, 90, 78, 89], [3, 'Hari', 89, 90, 78, 98, 67]]

In [23]:
info = list()
n = int(input("Enter how many values = "))
for i in range(n):
    name = input("Enter name = ")
    physics = int(input("Enter physics marks= "))
    chemistry = int(input("Enter chemistry marks= "))
    math = int(input("Enter math marks= "))
    english = int(input("Enter english marks= "))
    nepali = int(input("Enter nepali marks= "))
    
    marks = f"{name} {physics} {chemistry} {math} {english} {nepali}"
    info.append(marks)
    
print(info)

Enter how many values = 2
Enter name = Ram
Enter physics marks= 78
Enter chemistry marks= 67
Enter math marks= 90
Enter english marks= 78
Enter nepali marks= 90
Enter name = Shyam
Enter physics marks= 78
Enter chemistry marks= 90
Enter math marks= 67
Enter english marks= 98
Enter nepali marks= 89
['Ram 78 67 90 78 90', 'Shyam 78 90 67 98 89']

In [24]:
info

['Ram 78 67 90 78 90', 'Shyam 78 90 67 98 89']

In [26]:
info[1].split()

['Shyam', '78', '90', '67', '98', '89']

In [28]:
z = []
n = len(info)
for i in range(n):
    x = info[i].split()
    z.append(x)
    
print(z)

[['Ram', '78', '67', '90', '78', '90'], ['Shyam', '78', '90', '67', '98', '89']]

In [32]:
z = [['Ram', '78', '67', '90', '78', '90'], ['Shyam', '78', '90', '67', '98', '89']]
n = len(z)
for i in range(n):
    if 'Ram' in z[i]:
        print("Yes")

Yes

In [35]:
z = [['Ram', '78', '67', '90', '78', '90'], ['Shyam', '78', '90', '67', '98', '89']]
n = len(z)
search = input("Enter search value = ")
for i in range(n):
    if search in z[i]:
        print("Yes")
        print("The index is = ",i)

Enter search value = Ram
Yes
The index is =  0

In [41]:
output = []
z = [['Ram', '78', '67', '90', '78', '90'], ['Shyam', '78', '90', '67', '98', '89'],['Hari', '78', '90', '67', '98', '89']]
n = len(z)
for i in range(n):
    if 'Ram' in z[i][0]:
        continue
    else:
        output.append(z[i])
        
print(output)

[['Shyam', '78', '90', '67', '98', '89'], ['Hari', '78', '90', '67', '98', '89']]

In [42]:
# sum()
# max()
# min()
# sort()

In [43]:
a = [123,243,35,132,53,123,5,23,654,87]
sum(a)

1478

In [44]:
a = [123,243,35,132,53,123,5,23,654,87]
max(a)

654

In [45]:
a = [123,243,35,132,53,123,5,23,654,87]
min(a)

5

In [46]:
a.sort()

In [47]:
a

[5, 23, 35, 53, 87, 123, 123, 132, 243, 654]

In [48]:
a.reverse()

In [49]:
a

[654, 243, 132, 123, 123, 87, 53, 35, 23, 5]

In [50]:
a = ["Zebra","Apple","ant","1Banana"]
a.sort()
a

['1Banana', 'Apple', 'Zebra', 'ant']

In [51]:
a = ["Zebra","Apple","ant","1Banana"]
sorted(a)

['1Banana', 'Apple', 'Zebra', 'ant']

In [52]:
print(a)

['Zebra', 'Apple', 'ant', '1Banana']