In [4]:
a = ["Apple","Ball","Cat"]
print(a)
print(type(a))

['Apple', 'Ball', 'Cat']
<class 'list'>

In [ ]:
b = [1,2,3,4,5]

In [2]:
a = list()
print(a)

[]

In [5]:
len(a)

3

In [6]:
# Indexed
# ordered
# mutable
# multiple data can be stored

In [7]:
a = ["Apple","Ball","Cat"]
a[0]

'Apple'

In [9]:
a[-1]

'Cat'

In [10]:
a = ["Apple","Ball","Cat"]
b = ["Fish"]
a+b

['Apple', 'Ball', 'Cat', 'Fish']

In [11]:
a = [1,2,3,4]
b = [5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [12]:
a = [1, 2, 3, 4, 5, 6]
a*2

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [13]:
a=[1,2,3,4,5]
b = [5]
a+b

[1, 2, 3, 4, 5, 5]

In [15]:
a = []
n = int(input("Enter values = "))
for i in range(n):
    x = input("Enter values = ")
    a = a+[x]
    
print(a)

Enter values = 5
Enter values = Apple
Enter values = Ball
Enter values = Cat
Enter values = Dog
Enter values = Fish
['Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [16]:
for i in a:
    print(i)

Apple
Ball
Cat
Dog
Fish

In [18]:
x = ['Apple', 'Ball', 'Cat', 'Dog', 'Fish']
x[0] = "Ant"
x

['Ant', 'Ball', 'Cat', 'Dog', 'Fish']

In [19]:
# Search
x = ['Apple', 'Ball', 'Cat', 'Dog', 'Fish']

if "Apple" in x:
    print("Yes")
else:
    print("No")

Yes

In [20]:
# Search
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Fish']

search = input("Enter value for search = ")

if search in a:
    print("Yes",a.count(search))
else:
    print("No")

Enter value for search = Apple
Yes 1

In [21]:
info = list()
n = int(input("Enter how many values = "))
for i in range(n):
    name = input("Enter name = ")
    physics = int(input("Enter physics marks= "))
    chemistry = int(input("Enter chemistry marks= "))
    math = int(input("Enter math marks= "))
    english = int(input("Enter english marks= "))
    nepali = int(input("Enter nepali marks= "))
    
    marks = f"{name} {physics} {chemistry} {math} {english} {nepali}"
    info = info+[marks]
    
print(info)

Enter how many values = 2
Enter name = Ram
Enter physics marks= 89
Enter chemistry marks= 78
Enter math marks= 90
Enter english marks= 78
Enter nepali marks= 67
Enter name = Shyam
Enter physics marks= 68
Enter chemistry marks= 78
Enter math marks= 90
Enter english marks= 67
Enter nepali marks= 56
['Ram 89 78 90 78 67', 'Shyam 68 78 90 67 56']

In [26]:
info[1]

'Shyam 68 78 90 67 56'

In [27]:
info[0] = 'Ram Prasad 89 78 90 78 67'

In [28]:
info

['Ram Prasad 89 78 90 78 67', 'Shyam 68 78 90 67 56']

In [29]:
a = [1,2,3,4]
b = 5
a.append(b)

In [30]:
a

[1, 2, 3, 4, 5]

In [31]:
a.insert(2,'Hello')
a

[1, 2, 'Hello', 3, 4, 5]

In [33]:
a = []
n = int(input("Enter values = "))
for i in range(n):
    x = input("Enter values = ")
    a.append(x)
    
print(a)

Enter values = 3
Enter values = Apple
Enter values = Ball
Enter values = Cat
['Apple', 'Ball', 'Cat']

In [ ]:
info = list()
n = int(input("Enter how many values = "))
for i in range(n):
    name = input("Enter name = ")
    physics = int(input("Enter physics marks= "))
    chemistry = int(input("Enter chemistry marks= "))
    math = int(input("Enter math marks= "))
    english = int(input("Enter english marks= "))
    nepali = int(input("Enter nepali marks= "))
    
    marks = f"{name} {physics} {chemistry} {math} {english} {nepali}"
    info = info+.append(marks)
    
print(info)

In [34]:
a = ['Ram Prasad 89 78 90 78 67', 'Shyam 68 78 90 67 56']
a.append('Nabin 68 78 90 67 56')
a

['Ram Prasad 89 78 90 78 67', 'Shyam 68 78 90 67 56', 'Nabin 68 78 90 67 56']

In [36]:
a = ['Ram Prasad 89 78 90 78 67', 'Shyam 68 78 90 67 56', 'Nabin 68 78 90 67 56']

a.insert(1,'Nabina 68 78 90 67 56')
a

['Ram Prasad 89 78 90 78 67',
 'Nabina 68 78 90 67 56',
 'Shyam 68 78 90 67 56',
 'Nabin 68 78 90 67 56']

In [37]:
# del
# remove
# pop
a = ['Apple', 'Ball', 'Cat']
del a[0]
a

['Ball', 'Cat']

In [38]:
a = ['Apple', 'Ball', 'Cat','Dog','Fish']
del a[0:3]
a

['Dog', 'Fish']

In [39]:
a = ['Apple', 'Ball', 'Cat','Dog','Fish']
a.remove('Ball')
a

['Apple', 'Cat', 'Dog', 'Fish']

In [42]:
a = ['Apple', 'Ball', 'Cat','Dog','Fish']
a.pop(1)
print(a)

['Apple', 'Cat', 'Dog', 'Fish']

In [41]:
a

['Apple', 'Cat', 'Dog', 'Fish']

In [43]:
a = ['Apple', 'Ball', 'Cat','Dog','Fish']
b = a.pop(1)
print(a)
print(b)

['Apple', 'Cat', 'Dog', 'Fish']
Ball

In [44]:
a = ['Apple', 'Ball', 'Cat','Dog','Fish']
a.clear()
a

[]

In [45]:
a = ['Apple', 'Ball', 'Cat','Dog','Fish']
del a
print(a)

NameError: name 'a' is not defined

In [48]:
a = "Apple.Ball.Cat"
a.split('.')

['Apple', 'Ball', 'Cat']

In [49]:
a = "Ram 45 Patan,Shyam 34 Kathmandu,Hari 34 Patan"
a.split(',')

['Ram 45 Patan', 'Shyam 34 Kathmandu', 'Hari 34 Patan']

In [54]:
a=['Ram','Shyam','Hari','Sita','Ram','Ram']
a.remove('Ram')

In [55]:
a

['Shyam', 'Hari', 'Sita', 'Ram', 'Ram']

In [57]:
a=['Ram','Shyam','Hari','Sita','Ram','Ram']
# n = a.count('Ram')
for i in a:
    if i =='Ram':
        a.remove('Ram')
        
print(a)

['Shyam', 'Hari', 'Sita', 'Ram']

In [61]:
a=['Ram','Shyam','Hari','Sita','Ram','Ram']
n = a.count('Ram')
for i in range(n):
    print(a)
    a.remove('Ram')
        
print(a)

['Ram', 'Shyam', 'Hari', 'Sita', 'Ram', 'Ram']
['Shyam', 'Hari', 'Sita', 'Ram', 'Ram']
['Shyam', 'Hari', 'Sita', 'Ram']
['Shyam', 'Hari', 'Sita']

In [62]:
a=['Ram','Shyam','Hari','Sita','Ram','Ram']
n = a.count('Ram')
for i in range(n-1):
    print(a)
    a.remove('Ram')
        
print(a)

['Ram', 'Shyam', 'Hari', 'Sita', 'Ram', 'Ram']
['Shyam', 'Hari', 'Sita', 'Ram', 'Ram']
['Shyam', 'Hari', 'Sita', 'Ram']

In [63]:
# index()
a = ['Shyam', 'Hari', 'Sita', 'Ram']
a.index('Shyam')

0

In [69]:
a=['Ram','Shyam','Hari','Sita','Ram','Ram']
index = []
x = input("Enter name = ")
n = len(a)
for i in range(n):
    if a[i] == x:
        print(i)
        index.append(i)
        
print(index)

Enter name = Ram
0
4
5
[0, 4, 5]

In [70]:
a=['Ram','Shyam','Hari','Sita','Ram','Ram']
index = []
x = input("Enter name = ").lower()
n = len(a)
for i in range(n):
    if a[i].lower() == x:
        print(i)
        index.append(i)
        
print(index)

Enter name = RAM
0
4
5
[0, 4, 5]