In [1]:
a = 'Hello World'
type(a)

str

In [3]:
a = "1"
type(a)

str

In [4]:
a = input("Enter a = ")
type(a)

Enter a = 10

str

In [7]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [8]:
a = "Hello "
b = "World"
a+b

'Hello World'

In [12]:
a = "Python"
a[-1]

'n'

In [13]:
a = "Python"
a[0:4]

'Pyth'

In [14]:
a = "Python"
a[0:5:2]

'Pto'

In [15]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")

info = "Hello my name is " + name +" I am " + str(age) + " I am from " + add 
print(info)

Enter name = Ram
Enter age = 34
Enter add = Kathmandu
Hello my name is Ram I am 34 I am from Kathmandu

In [18]:
# String formatting
name = "Ram"
age = 45
add = "Patan"
hobby = ["Playing","Cycling","Online games"]
output = f"Hello my name is {name}.I am {age}.I am from {add}.My hobbies are {hobby}"
print(output)

Hello my name is Ram.I am 45.I am from Patan.My hobbies are ['Playing', 'Cycling', 'Online games']

In [19]:
# String formatting
name = "Ram"
age = 45
add = "Patan"
output = f"Hello my name is {name}.I am {age}.I am from {add}"
print(output)

Hello my name is Ram.I am 45.I am from Patan

In [20]:
a = "Hello my name is Ram.I am 45.I am from Patan"
a.upper()

'HELLO MY NAME IS RAM.I AM 45.I AM FROM PATAN'

In [21]:
a = "Hello my name is Ram.I am 45.I am from Patan"
a.lower()

'hello my name is ram.i am 45.i am from patan'

In [22]:
# Search
a = 'hello my name is Ram.i am 45.i am from patan'
if "Ram" in a:
    print("Yes")
else:
    print("No")

Yes

In [25]:
# Search
a = 'hello my name is Ram.i am 45.i am from patan'
search = input("Enter value for search = ")
if search in a:
    print("Yes")
else:
    print("No")

Enter value for search = hello
Yes

In [26]:
# count()
a = 'hello my name is Ram.i am 45.i am from patan'
a.count('hello')

1

In [28]:
# Search
a = 'hello my name is Ram.i am 45.i am from patan'
search = input("Enter value for search = ")

if search in a:
    print("Yes",a.count(search))
else:
    print("No")

Enter value for search = name
Yes 1

In [29]:
info = ""
n = int(input("Enter how many values = "))
for i in range(n):
    name = input("Enter name = ")
    physics = int(input("Enter physics marks= "))
    chemistry = int(input("Enter chemistry marks= "))
    math = int(input("Enter math marks= "))
    english = int(input("Enter english marks= "))
    nepali = int(input("Enter nepali marks= "))
    
    marks = f"{name} {physics} {chemistry} {math} {english} {nepali}\n"
    info = info+marks
    
print(info)

Enter how many values = 2
Enter name = ram
Enter physics marks= 45
Enter chemistry marks= 65
Enter math marks= 34
Enter english marks= 76
Enter nepali marks= 43
Enter name = 67
Enter physics marks= 45
Enter chemistry marks= 34
Enter math marks= 76
Enter english marks= 89
Enter nepali marks= 43
ram 45 65 34 76 43
67 45 34 76 89 43

In [31]:
# replace()
a = 'hello my name is Ram.i am 45.i am from patan'
a.replace('name','Name')

'hello my Name is Ram.i am 45.i am from patan'

In [32]:
# replace()
a = 'hello my name is Ram Prasad.i am 45.i am from patan'
a.replace('Prasad','')

'hello my name is Ram .i am 45.i am from patan'

In [33]:
a

'hello my name is Ram Prasad.i am 45.i am from patan'

In [34]:
# replace()
a = 'hello my name is Ram Prasad.i am 45.i am from patan'
a = a.replace('Prasad','')
print(a)

hello my name is Ram .i am 45.i am from patan

In [36]:
# replace()
a = 'hello my name is Ram Prasad.i am 45.i am from patan'
search = input("Enter what to search =")
replace = input("Enter replace value =")
a = a.replace(search,replace)
print(a)

Enter what to search =Patan
Enter replace value =Ktm
hello my name is Ram Prasad.i am 45.i am from patan

In [ ]:
# replace()
a = 'hello my name is Ram Prasad.i am 45.i am from patan'
search = input("Enter what to search =")
replace = input("Enter replace value =")
a = a.replace(search,replace)
print(a)

In [37]:
# Search
a = 'hello my name is Ram.i am 45.i am from patan'.lower()
search = input("Enter value for search = ").lower()

if search in a:
    print("Yes",a.count(search))
else:
    print("No")

Enter value for search = ram
Yes 1

In [40]:
# replace()
a = 'hello my name is Ram Prasad.i am 45.i am from patan'.lower()
search = input("Enter what to search =").lower()
replace = input("Enter replace value =")
a = a.replace(search,replace)
print(a)

Enter what to search =ram
Enter replace value =Shyam
hello my name is Shyam prasad.i am 45.i am from patan

In [41]:
info = ""
n = int(input("Enter how many values = "))
for i in range(n):
    name = input("Enter name = ")
    physics = int(input("Enter physics marks= "))
    chemistry = int(input("Enter chemistry marks= "))
    math = int(input("Enter math marks= "))
    english = int(input("Enter english marks= "))
    nepali = int(input("Enter nepali marks= "))
    
    marks = f"{name} {physics} {chemistry} {math} {english} {nepali}\n"
    info = info+marks
    
print(info)

Enter how many values = 2
Enter name = Ram
Enter physics marks= 89
Enter chemistry marks= 90
Enter math marks= 78
Enter english marks= 90
Enter nepali marks= 89
Enter name = Shyam
Enter physics marks= 67
Enter chemistry marks= 89
Enter math marks= 56
Enter english marks= 90
Enter nepali marks= 78
Ram 89 90 78 90 89
Shyam 67 89 56 90 78

In [43]:
print(info)

Ram 89 90 78 90 89
Shyam 67 89 56 90 78

In [47]:
print(info.replace('90 89','90 98'))

Ram 89 90 78 90 98
Shyam 67 89 56 90 78