In [1]:
a = (1,2,3,4)
print(a)
print(type(a))

(1, 2, 3, 4)
<class 'tuple'>

In [3]:
a[3]

4

In [4]:
a[1:4]

(2, 3, 4)

In [5]:
a = (1,2,3,4)
b = (5,6,7)
a+b

(1, 2, 3, 4, 5, 6, 7)

In [6]:
a*2

(1, 2, 3, 4, 1, 2, 3, 4)

In [7]:
a = tuple()
type(a)

tuple

In [10]:
a = ("Apple",)
type(a)

tuple

In [11]:
a = (1,)
type(a)

tuple

In [12]:
a = (1,2,3,4)
b = (5,)
a+b

(1, 2, 3, 4, 5)

In [13]:
y = tuple()
n = int(input("Enter the value of n = "))
for i in range(n):
    x = input("Enter x = ")
    y = y+(x,)
    
print(y)

Enter the value of n = 3
Enter x = Apple
Enter x = Ball
Enter x = Cat
('Apple', 'Ball', 'Cat')

In [15]:
y[0] = 'Ant'
y

TypeError: 'tuple' object does not support item assignment

In [16]:
# append,remove,delete,update,clear,pop

In [17]:
a = (1,2,3,4)
print(sum(a))
print(max(a))
print(min(a))

10
4
1

In [18]:
x =('Apple', 'Ball', 'Cat')
x.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [19]:
x =('Apple', 'Ball', 'Cat')
sorted(x)

['Apple', 'Ball', 'Cat']

In [20]:
for i in x:
    print(i)

Apple
Ball
Cat

In [21]:
x =('Apple', 'Ball', 'Cat')
if "Apple" in x:
    print("Yes")
else:
    print("No")

Yes

In [22]:
x =('Apple', 'Ball', 'Cat')
x.index("Ball")

1

In [25]:
x =('Apple', 'Ball', 'Cat','Dog','Fish')
y = x[0:2]
z = x[3:]
y+z

('Apple', 'Ball', 'Dog', 'Fish')

In [26]:
x = "hello world"
print(tuple(x))

('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

In [27]:
x =('Apple', 'Ball', 'Cat','Dog','Fish')
y = list(x)
print(y)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [28]:
tuple(y)

('Apple', 'Ball', 'Cat', 'Dog', 'Fish')

In [29]:
# tuple inside tuple

In [30]:
a = ((),(),(),())
len(a)

4

In [31]:
a = ((1,2,3),(4,5,6),(7,8,9),(10,11,12))
len(a)

4

In [32]:
# making tuple inside tuple
info = tuple()
n = int(input("Enter how many values = "))
for i in range(n):
    name = input("Enter name = ")
    physics = int(input("Enter physics marks= "))
    chemistry = int(input("Enter chemistry marks= "))
    math = int(input("Enter math marks= "))
    english = int(input("Enter english marks= "))
    nepali = int(input("Enter nepali marks= "))
    
    marks = (name,physics,chemistry,math,english,nepali)
    info = info+(marks,)
    
print(info)

Enter how many values = 2
Enter name = Ram
Enter physics marks= 89
Enter chemistry marks= 79
Enter math marks= 78
Enter english marks= 90
Enter nepali marks= 89
Enter name = Shyam
Enter physics marks= 78
Enter chemistry marks= 90
Enter math marks= 67
Enter english marks= 90
Enter nepali marks= 78
(('Ram', 89, 79, 78, 90, 89), ('Shyam', 78, 90, 67, 90, 78))

In [35]:
# list inside tuple
x = ([],[],[],[])
print(type(x))
print(len(x))

<class 'tuple'>
4

In [40]:
x = ([1,2,3],[4,5,6],[7,8,9])

x[0].append(4)
print(x)

([1, 2, 3, 4], [4, 5, 6], [7, 8, 9])

In [43]:
x = ([1, 2, 3, 4], [4, 5, 6], [7, 8, 9])
del x[0][3]
print(x)

([1, 2, 3], [4, 5, 6], [7, 8, 9])

In [45]:
x = ([1, 2, 3, 4], [4, 5, 6], [7, 8, 9])
x[0].remove(4)
x

([1, 2, 3], [4, 5, 6], [7, 8, 9])

In [47]:
# making list inside tuple
info = tuple()
n = int(input("Enter how many values = "))
for i in range(n):
    name = input("Enter name = ")
    physics = int(input("Enter physics marks= "))
    chemistry = int(input("Enter chemistry marks= "))
    math = int(input("Enter math marks= "))
    english = int(input("Enter english marks= "))
    nepali = int(input("Enter nepali marks= "))
    
    marks = [name,physics,chemistry,math,english,nepali]
    info = info+(marks,)
    
print(info)

Enter how many values = 2
Enter name = ram
Enter physics marks= 89
Enter chemistry marks= 90
Enter math marks= 67
Enter english marks= 77
Enter nepali marks= 99
Enter name = Shyam
Enter physics marks= 78
Enter chemistry marks= 90
Enter math marks= 67
Enter english marks= 89
Enter nepali marks= 90
(['ram', 89, 90, 67, 77, 99], ['Shyam', 78, 90, 67, 89, 90])

In [51]:
x = (['ram', 89, 90, 67, 77, 99], ['Shyam', 78, 90, 67, 89, 90])
y = ['Hari',77,88,99,66,77]
z = x+(y,)
list(z)

[['ram', 89, 90, 67, 77, 99],
 ['Shyam', 78, 90, 67, 89, 90],
 ['Hari', 77, 88, 99, 66, 77]]

In [ ]:
tuple inside list